/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    height: auto;
    margin-bottom: 0;
    border-radius: 0;
    background-color: #2662CE;
}

.collapse .navbar-collapse .active {
    color: whitesmoke;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 450px
}

@media screen and (max-width: 767px) {
    .row.content {
        height: auto;
    }
}